<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Care</title>
</head>
<body>
    
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="/" style="max-width: 30%;">
            <img src="static/images/heart.png" style="height:20%;display:inline-block;" width="50px" height="50px"><span>HeartHelper</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container-fluid">
             <!--<a class="nav-link" href="/question"><img src="static/images/question.png" style="height:auto;display:block;" width="60%" height="60%">
                    <span>WHAT IS A HEART ATTACK?</span>-->
                    <div class="card-deck">
                        <div class="card bg-info border-danger text-white">
                            <img class="card-img-top" src="static/images/diet.png"alt="Card image cap">
                            <div class="card-body">
                              <h4 class="card-title">DIET</h4>
                              <p class="card-text">
                                what you put into your mouth matters.
                              </p>
                              <a href="/diet" class="btn btn-primary stretched-link">learn more</a>
                            </div>
                        </div>
                    
            
                        <div class="card bg-info border-danger text-white">
                            <img class="card-img-top" src="static/images/exercise.png" alt="Card image cap">
                            <div class="card-body">
                              <h4 class="card-title">EXERCISES</h4>
                              <p class="card-text">
                                Ways to keep fit.
                              </p>
                              <br>
                              <a href="/exercise" class="btn btn-primary stretched-link">learn more</a>
                            </div>
                          </div> 
                     
                      <div class="card bg-info border-danger text-white">
                          <img class="card-img-top" src="static/images/bmi.png"alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">BMI Calculator</h4>
                            <p class="card-text">
                                Its great to know your bmi.
                            </p>
                            <br>
                            <a href="/bmi" class="btn btn-primary stretched-link">learn more</a>
                          </div>
                      </div>
                  
                        
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </body>
<style>
body {
    background-color: #626269;
}

.col-lg-4 {
    color: #ffffff;
}
</style>

</html>