<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- material design lite-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Procedures</title>
</head>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="/" style="max-width: 30%;">
        <img src="static/images/heart.png" style="height:20%;display:inline-block;" width="50px" height="50px"><span>HeartHelper</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
<body>
    <div class="container-fluid">
            <br>
            <div class="card">
                <div class="card-body">
                    <h1>Types of Diets</h1>
                    <h2>Plenty of diets to choose from in the present day</h2>
            
            <p>People diet for all types of reasons as there are no shortage of 
                reasons for wanting to live a healthier life. There are also a wide variety 
                of options when it comes to selecting a diet that might work for you. 
                Here is a closer look at some of the different types of diets that 
                people are using all around the world.</p> 
            
            <strong>The Paleo Diet</strong> 
            <p>This is a natural way of eating, one that almost abandons all intake of sugar. 
            The only sugar in a Paleo diet comes from fruit. However, abandoning sugar is not 
            the only stipulation. Processed foods and grains are also eliminated from the Paleo diet.
             The fewer number of carbohydrates in your system leads to a decreased amount of glucose.
              So your system will then begin to use fat as its fuel source. In a Paleo diet,
               dairy is also eliminated. So what can be eaten? A Paleo diet consists of fish, fowl, 
               vegetables, fruits, nuts, oils, sweet potatoes, eggs and meat, so long as that meat 
               is grass-fed and not grain-fed. </p>
            
            <strong>The Blood Type Diet</strong> 
            <p>Some doctors have started to research diets that coincide with particular blood types. 
                The premise of these diets attempts to match people with their common dietary needs
                based on their blood type. For example, individuals with type O blood are recommended 
                to eat lots of food that are high in protein. In order to lose weight, spinach, red meat,
                seafood and broccoli are suggested while dairy should be avoided. 
                Those with type A blood are recommended to avoid meat and place an emphasis on turkey,
                tofu, and fruit while weight loss is contingent on eating a diet that consists 
                primarily of soy, seafood and vegetables. Individuals with type B and AB blood also 
                have their own dietary restrictions and recommendations. </p>
            
            <strong>The Vegan Diet</strong> 
            <p>This diet is a form of a vegetarian diet as it eliminates meat and animal products.
                One of the primary effects of this diet is that it reduces the intake of cholesterol 
                and saturated fat. It takes some planning, but if a vegan diet is rationed out properly,
                it can have many positive effects. Studies have proven that those who practice a vegan
                 diet minimize their overall risk of coronary heart disease, obesity and
                 high blood pressure. To compensate for a lack of meat, vegans must find a way to 
                incorporate more sources of protein and vitamin B-12 into their diets. </p>
            
            <strong>The South Beach Diet</strong> 
            <p>This diet was first introduced in 2003 and is based on the premise of changing one’s 
                overall eating habits by balancing out one’s everyday diet. Certain carbohydrates are 
                completely avoided. It does not eliminate carbohydrates altogether, but aims to educate 
                dieters on which carbs to always avoid. This often leads to developing a healthy way 
                of eating so that it will be sustainable for the rest of people’s lives. The diet 
                includes a selection of healthy fats, lean protein, as well as good carbs.</p>
            
            <strong>The Mediterranean Diet</strong> 
            <p>This is another kind of vegetable-heavy diet that avoids a lot of meat, but does not 
                eliminate it altogether. This diet has been proven to help with depression, in addition to
                 controlling blood sugar levels and helping with weight loss. The Mediterranean diet 
                 recommends the use of oil as much as possible and that means as an alternative to butter, 
                 salad dressings or marinades. It also emphasizes adding vegetables to each meal and favors
                  fish over chicken. Whole grains, nuts and herbs are also used in larger amounts. </p>
            
            <strong>Raw Food Diet</strong> 
            <p>This is a diet that places a premium on eating uncooked and unprocessed foods. The diet 
                eliminates the intake of any foods that have been pasteurized or produced with any kind of 
                synthetics or additives. The diet is intended to create a surge in energy, a decrease in
                 inflammation, while also lowering the number of carcinogens in one’s diet.</p>
                        <p></p>
    </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, Bootstrap JS, then material design lite JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
  
    </body>
<style>
body {
    background-color: #626269;
}

.col-lg-4 {
    color: #ffffff;
}
</style>

</html>