<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- material design lite-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Procedures</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
                <a class="navbar-brand" href="/" style="max-width: 30%;">
                    <img src="static/images/heart.png" style="height:20%;display:inline-block;" width="50px" height="50px"><span>HeartHelper</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </nav>    


    <div class="container-fluid">
            <div class="card">
                 <div class="card-body">
            <h2><span id="Why_Exercise">Why Exercise?</span></h2>
            <ul>
                    <li>Improves blood sugar control and regulation</li>
                    <li>May help reduce the amount of oral insulin medication needed</li>
                    <li>Improves physical fitness</li>
                    <li>Increases your strength and ease of movements</li>
                    <li>Improves blood circulation</li>
                    <li>Reduces risk of heart disease</li>
                    <li>Decreases blood pressure</li>
                    <li>Helps you lose and maintain weight</li>
                    <li>Gives a feeling of well being</li>
                    <li>Relieves stress</li>
                    </ul>
            <h2><span id="Why_Free_Weights">Why Free Weights?</span></h2>
            <p>Free weights such as dumbbells activate smaller stabilizing muscle groups to 
               control the exercise. 
               Resistance machines on the other hand, tend to work muscle groups in very 
               strict planes of movement. The downside of this very strict movement is that while 
               some muscle groups will become significantly stronger,other, smaller muscles are neglected.</p>
            <p>The other advantage dumbbell exercises have over machines is that they fit around 
                your body so the movement can be performed correctly. Although resistance machines 
                can be adjusted, such as the seat height for example, the movement pattern is 
                still largely governed by how the machine is built.</p>
            <p>Athletes typically favor dumbbell exercises over machines as they can replicate
               sport-specific movements more accurately. They also know that they will develop a
               more balanced physique and structure if most of their routine employs free weight
               exercises.</p>
            <h2><span id="Exercises_By_Muscle_Group">Exercises By Muscle Group</span></h2>
            <p>The dumbbell exercises below have been divided into the major muscle groups 
                of the body. There are literally an unlimited number of routines 
                you can put together with just a handful of these exercises. The first step is
                to determine an outcome &#8211; general fitness, increased muscle mass,
                strength endurance, improved athletic performance for example. 
                Not only will this dictate which dumbbell exercises you select it will also dictate
                the weight, type of  adjustable dumbbells and number of sets and repetitions you choose.</p>
            <hr />
            <h2><span id="Chest_Dumbbell_Exercises">Chest Dumbbell Exercises</span></h2>
            <div class="row">
                <div class="col">
            <p><b>Flat Chest Presses</b></p>
            <ol>
              <li>Lying flat on bench, hold the dumbbells directly above chest, arms extended.</li>
              <li>Lower dumbbells to chest in a controlled manner.</li>
              <li>Press dumbbells back to starting position and repeat.</li>
              <li>Avoid locking elbows</li>
              </ol>
             <div class="ImageBlock ImageBlockCenter"><img title="Flat chest press" src="/static/images/df.gif" alt="Flat chest press" width="200"/></div>
             </div>

                <div class="col">
                <p><b>Incline Chest Presses</b></p>
                <ol>
                <li>Adjust bench to an incline of 30 to 45 degrees.</li>
                <li>Repeat as above.</li>
                </ol>
                <div class="ImageBlock ImageBlockCenter"><img title="Incline chest press" src="/static/images/inc_press.gif" alt="Incline chest press" width="200"/></div>
                </div>
           </div>


            <div class="row">
               <div class="col">
              <p><b>Flat Chest Flies</b></p>
               <ol>
               <li>Lying flat on bench, hold dumbbells directly above chest.</li>
               <li>Bend elbows slightly and maintain throughout the exercise.</li>
               <li>Open arms to sides. Elbows should remain &#8216;locked&#8217; in a slightly flexed position.</li>
               <li>When upper arms are parallel to floor, return the weights to the starting position and repeat.</li>
               </ol>
              <p>&nbsp;</p>
               <div class="ImageBlock ImageBlockCenter"><img title="Flat chest fly" src="/static/images/flat_s.gif" alt="Flat chest fly" width="200"/></div>
               </div>

            <div class="col">
                <p><b>Incline Chest Flies</b></p>
                <ol>
                <li>Adjust bench to an incline of 30 to 45 degrees.</li>
                <li>Repeat as above.</li>
                </ol>
                <div class="ImageBlock ImageBlockCenter"><img title="Inlcine chest flies" src="/static/images/chest_fly.gif" alt="Inlcine chest flies" width="200"/></div>
            </div>
            </div>
           
            <hr />

            <h2><span id="Shoulder_Dumbbell_Exercises">Shoulder Dumbbell Exercises</span></h2>
            <div class="row">
            <div class="col">
                <p><b>Seated Shoulder Presses</b></p>
                <ol>
                <li>Sit upright on bench with dumbbells over head. Make sure back is flat.</li>
                <li>Lower dumbbells slowly to shoulders.</li>
                <li>When arms are at 90 degrees, press the dumbbells back up and repeat.</li>
                </ol>
                <div class="ImageBlock ImageBlockCenter"><img title="Seated shoulder press" src="/static/images/shoulder_press.gif" alt="Seated shoulder press" width="200"/></div>
            </div>
            <div class="col">
                    <p><b>Lateral Raises</b></p>
                    <ol>
                    <li>Stand upright, knees slightly bent, shoulder width apart, holding dumbbells at sides.</li>
                    <li>Bend elbows slightly and raise the dumbbells out to sides. Keep elbows slightly bent throughout.</li>
                    <li>When arms are parallel to floor, slowly lower back and repeat.</li>
                    </ol>
                    <div class="ImageBlock ImageBlockCenter"><img title="Lateral raises" src="/static/images/lat_raise.gif" alt="Lateral raises" width="200"/></div>
             </div>
            </div>
           
            <div class="row">
                <div class="col">
            <p><b>Reverse Flies</b></p>
            <ol>
            <li>Sit on edge of bench, feet flat on the floor. Bend over so chest is almost resting on thighs.</li>
            <li>Hold dumbbells next to feet and bend arms slightly. Open arms out keeping elbows bent.</li>
            <li>When arms are parallel to floor, slowly lower dumbbells back.</li>
            </ol>
            <div class="ImageBlock ImageBlockCenter"><img title="Reverse flies" src="/static/images/reverse_fly.gif" alt="Reverse flies" width="200"/></div>
            </div>

            <div class="col">
                <p><b>Front Raises</b></p>
            <ol>
            <li>Stand upright, knees slightly bent, shoulder width apart. Palms should be towards thighs.</li>
            <li>Raise one dumbbell directly in front of you.</li>
            <li>When arm is parallel to ground lower dumbbell slowly back. Repeat with the other arm.</li>
            </ol>
            <div class="ImageBlock ImageBlockCenter"><img title="Front raises" src="/static/images/front_raise.gif" alt="Front raises" width="200"/></div>
            </div>

            </div>
      
            <hr />

            <h2><span id="Back_Dumbbell_Exercises">Back Dumbbell Exercises</span></h2>

           
            <div class="row">
            <div class="col">
                    <p><b>Dead Lifts</b></p>
            <ol>
            <li>Stand upright, feet shoulder width apart, knees slightly bent.</li>
            <li>Bend lower back and knees to lower the weights down your legs. Back <b>must</b> remain flat, lower back should be arched inwards slightly. Keep head up throughout exercise.</li>
            <li>Stand upright using lower back and legs, maintaining flat back and keeping your head up.</li>
            </ol>
            <br>
            <br>
            <div class="ImageBlock ImageBlockCenter"><img title="Dead lifts" src="/static/images/dead_lift.gif" alt="Dead lifts" width="200"/></div>
            </div>

            <div class="col">
                    <p><b>Single Arm Row</b></p>
                <ol>
                <li>Stand upright next to bench. Place one knee and hand on bench. Upper body should be parallel to floor.</li>
                <li>Hold one dumbbell with arm extended.</li>
                <li>Raise dumbbell up to your midsection keeping back still throughout movement.</li>
                <li>Slowly lower dumbbell to start position and repeat. After desired number of reps repeat for other arm.</li>
                </ol>
               
                <div class="ImageBlock ImageBlockCenter"><img title="Single arm rows" src="/static/images/single-rows.gif" alt="Single arm rows" width="200"/></div>
            </div>

            </div>

            <div class="row">   
                <p><b>Lying Bent Over Rows</b></p>
                <div class="col">
                <ol>
                    <li>Lie face down on a flat or slightly inclined bench. Hold two dumbbells and let arms hang down.</li>
                    <li>Pull dumbbells up towards chest.</li>
                    <li>Slowly lower dumbbells back down and repeat.</li>
                </ol>
               <div class="ImageBlock ImageBlockCenter"><img title="Bent over rows" src="/static/images/lying_row.gif" alt="Bent over rows" width="200"/></div>
               </div>
        
             </div>
           
            
            <hr />
            <h2><span id="Trapezius_Dumbbell_Exercises">Trapezius Dumbbell Exercises</span></h2>


            <div class="row">
            <div class="col">
            <p><b>Upright Rows</b></p>
            <ol>
            <li>Stand upright, feet shoulder width apart, knees slightly bent.</li>
            <li>Keeping dumbbells close to body, raise them to chin.</li>
            <li>Hold for a count of 2 and slowly lower to start position and repeat.</li>
            </ol>
      
            <div class="ImageBlock ImageBlockCenter"><img title="Upright rows" src="/static/images/upright_row.gif" alt="Upright rows" width="200"/></div>
            </div>

            <div class="col">
                    <p><b>Shrugs</b></p>
                    <ol>
                    <li>Stand upright, feet shoulder width apart, knees slightly bent.</li>
                    <li>Keeping arms straight &#8216;shrug&#8217; shoulders as high as possible and hold for a count of 3.</li>
                    <li>Relax and repeat.</li>
                    <li>Do not roll shoulders backwards as you shrug up.</li>
                    </ol>
                    <div class="ImageBlock ImageBlockCenter"><img title="Shrugs" src="/static/images/shrugs.gif" alt="Shrugs" width="200"/></div>
                    </div>

            </div>
         
            <hr />
            <h2><span id="Biceps_Dumbbell_Exercises">Biceps Dumbbell Exercises</span></h2>

            <div class="row">
            <div class="col">
                    <p><b>Decline Seated Bicep Curls</b></p>
                    <ol>
                        <li>Adjust bench to a 45 degree incline.</li>
                        <li>Hold dumbbells at sides. Arms should be fully extended.</li>
                        <li>Keep elbows close to body and curl weight up by bending elblows.</li>
                        <li>Slowly lower dumbbells and repeat.</li>
                    </ol>
                 <div class="ImageBlock ImageBlockCenter"><img title="Decline seated curls" src="/static/images/decline.gif" alt="Decline seated curls" width="200"/></div>
            </div>
    
            <div class="col">
            <p><br clear="all" /><b>Hammer curls</b></p>
            <ol>
            <li>Stand upright with dumbells at sides.</li>
            <li>Turn palms inward so they face body.</li>
            <li>Curl dumbbells up slowly keeping your elbows close to sides.</li>
            </ol>
            <div class="ImageBlock ImageBlockCenter"><img title="Hammer curls" src="/static/images/hammer.gif" alt="Hammer curls" width="200"/></div>
            </div>
            </div>

            <div class=row>
            <div class="col">
     
            <p><b>Preacher Curls</b></p>
            <ol>
            <li>Set bench so back rest is approx 45 degrees.</li>
            <li>Stand behind the bench. Holding dumbbell rest back of upper arm on back rest, arm fully extended.</li>
            <li>Keep back of upper arm against back rest and curl dumbbell up towards face.</li>
            <li>Slowly lower dumbbell until arm is not quite fully extended and repeat for desired number of reps before switching arms.</li>
            </ol>
            <p>&nbsp;</p>
            <div class="ImageBlock ImageBlockCenter"><img title="Preacher curls" src="/static/images/preacher.gif" alt="Preacher curls" width="200"/></div>
            </div>
      
            <div class="col">
            <p><b>Concentration Curls</b></p>
            <ol>
            <li>Sit on edge of bench with feet flat on the floor.</li>
            <li>Holding dumbbell place elbow on inside of thigh, just above knee.</li>
            <li>Curl dumbbell up towards your face. Do not swing back as you lift the weight.</li>
            <li>Slowly lower the weight and repeat for desired number of reps before switching arms.</li>
            </ol>
            <p>&nbsp;</p>
            <div class="ImageBlock ImageBlockCenter"><img title="Concentration curls" src="/static/images/concentration.gif" alt="Concentration curls" width="200"/></div>
            </div>
            </div>

            <hr />
            <h2><span id="Triceps_Dumbbell_Exercises">Triceps Dumbbell Exercises</span></h2>
          
            <div class="row">
            <div class="col">
            <p><b>Overhead Triceps Extensions</b></p>
            <ol>
            <li>Stand upright, feet shoulder width apart.</li>
            <li>Hold dumbbell directly above head with arm fully extended. Clasp elbow with free hand for support.</li>
            <li>Slowly let elbow fold so dumbbell is lowered behind head.</li>
            <li>Extend arm back to starting position. Repeat for the desired number of reps and switch arms.</li>
            </ol>   
            <p>&nbsp;</p>
            <div class="ImageBlock ImageBlockCenter"><img title="Overhead triceps extension" src="/static/images/overhead.gif" alt="Overhead triceps extension" width="200"/></div>
            </div>

            <div class="col">
            <p><b>French Presses</b></p>
            <ol>
            <li>Lie flat on bench. Hold dumbbells directly above chest with palms facing each other. Dumbbells should be just about touching each other.</li>
            <li>Keeping your shoulders locked, let your elbows fold so dumbbells are lowered down to either side of head.</li>
            <li>Extend both your arms back to start position and repeat.</li>
            </ol>
            <div class="ImageBlock ImageBlockCenter"><img title="French presses" src="/static/images/french.gif" alt="French presses" width="200"/></div>
            </div>
            </div>

           <div class="row">
            <div class="col">
            <p><b>Triceps Kickbacks</b></p>
            <ol>
            <li>Stand upright next to bench. Place one arm and leg on bench. Upper body should be parallel to ground.</li>
            <li>Holding dumbbell raise elbow so upper arm is parallel to ground. Elbow should be bent at right angles.</li>
            <li>Extend elbow so entire arm is parallel to ground.</li>
            <li>Slowly return to start position and repeat for desired number of reps before changing arms.</li>
            </ol>
            <p><br clear="all" /><br clear="all" /></p>
            <div class="ImageBlock ImageBlockCenter"><img title="Tricep kickbacks" src="/static/images/tricep.gif" alt="Tricep kickbacks" width="200"/></div>
            </div>
            </div>

            <hr />

            <h2><span id="Leg_Dumbbell_Exercises">Leg Dumbbell Exercises</span></h2>
            <div class="row">
            <div class="col">
            <p><b>Half Squats</b></p>
            <ol>
            <li>Holding dumbbells at sides, stand upright with your feet shoulder width apart.</li>
            <li>Bend from knees until thighs are almost parallel to the ground (avoid letting knees turn inwards).</li>
            <li>Keep back flat, lower back slightly arched inwards and head up.</li>
            <li>Return to upright position and repeat.</li>
            </ol>
            <div class="ImageBlock ImageBlockCenter"><img title="Dumbbell squats" src="/static/images/dumbell_squats.gif" alt="Dumbbell squats" width="200"/></div>
            </div>

            <div class="col">
                    <p><b>Dumbbell Lunges</b></p>
                    <ol>
                    <li>Holding dumbbells at sides, stand upright with feet slightly less than shoulder width apart.</li>
                    <li>Step forward about 2 feet with one foot and bend knee to about 90 degrees. As you plant your foot bend trailing knee so it nearly touches floor.</li>
                    <li>Push off with front foot to return to starting position.</li>
                    <li>Repeat for the desired number of reps and change legs.</li>
                    </ol>
                    <div class="ImageBlock ImageBlockCenter"><img title="Dumbbell lunges" src="/static/images/dumbell_lunges.gif" alt="Dumbbell lunges" width="200"/></div>
            </div>

            </div>
         
          
            <hr>
            <h2><span id="Calf_Dumbbell_Exercises">Calf Dumbbell Exercises</span></h2>
            <div class="row">
            <div class="col">
            <p><b>Single Leg Calf Presses</b></p>
            <ol>
            <li>Set the back rest to upright position. Holding dumbbell in one hand at side, place other hand on top of bench for support.</li>
            <li>Stand on one foot on edge of bench frame.</li>
            <li>Stand up on tip toe using free hand to balance yourself. Do not to push yourself up with your hand.</li>
            <li>Slowly lower yourself to the ground and repeat for desired number of reps before changing legs.</li>
            </ol>
            </div>

            <div class="col">
            <p><b>Seated Calf Raises</b></p>
            <ol>
            <li>Sit on the edge of the bench, feet flat on the floor about 12 inches apart.</li>
            <li>Rest dumbells on thighs while keeping hold of them.</li>
            <li>While staying seated raise heels by just using toes.</li>
            <li>Lower your heels to the ground and repeat.</li>
            </ol>
            <div class="ImageBlock ImageBlockCenter"><img title="Calf raises" src="/static/images/calf_raise.gif" alt="Calf raises" width="200"/></div>
            </div> 
        </div>
            
              <hr>
               <h2>BODY  WEIGHT EXERCISES</h2>
               <br>
               <h2><span id="AB Exercises"> AB-Exercises</span></h2>
               <div class="row">
                <div class="col">
                <p><b>Side to side crunch</b></p>
                <div class="ImageBlock ImageBlockCenter"><img title="Side to side crunch" src="/static/images/ab2.gif" alt="side to side crunch" width="200"/></div>
                </div>
    
                <div class="col">
                <p><b>Plank(crunch)</b></p>
                <div class="ImageBlock ImageBlockCenter"><img title="Plank crunch" src="/static/images/ab1.gif" alt="plank crunch" width="200"/></div>
                </div> 

                <div class="col">
                    <p><b>Marching Plank</b></p>
                    <div class="ImageBlock ImageBlockCenter"><img title="Plank crunch" src="/static/images/marching plank.gif" alt="marching plank" width="200"/></div>
                    </div> 

                <div class="col">
                    <p><b>AHT crunch</b></p>
                    <div class="ImageBlock ImageBlockCenter"><img title="AHT crunch" src="/static/images/ab3.gif" alt="AHT crunch" width="200"/></div>
                    </div>
                
                <div class="col">
                        <p><b>Crunch</b></p>
                        <div class="ImageBlock ImageBlockCenter"><img title="Crunch" src="/static/images/crunch.gif" alt="crunch" width="200"/></div>
                        </div>
                
                <div class="col">
                    <p><b>Hanging knee raise</b></p>
                            <div class="ImageBlock ImageBlockCenter"><img title="Hanging knee raise" src="/static/images/hanging knee raise.gif" alt="knee raise" width="200"/></div>
                            </div>

                <div class="col">
                    <p><b>V-ups</b></p>
                    <div class="ImageBlock ImageBlockCenter"><img title="V up" src="/static/images/vtuck.gif" alt="v-ups" width="200"/></div>
                        </div> 
            </div>  
                 </div>
                 </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, Bootstrap JS, then material design lite JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
  
    </body>
<style>
body {
    background-color: #626269;
}

.col-lg-4 {
    color: #ffffff;
}
</style>

</html>