<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- material design lite-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Home</title>
</head>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="/" style="max-width: 30%;">
        <img src="static/images/heart.png" style="height:20%;display:inline-block;" width="50px" height="50px"><span>HeartHelper</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
<body>
    <div class="container-fluid">
            <br>
            <div class="card">
                <div class="card-body">
            <p>
                Every 34 seconds, someone dies from heart and blood vessel diseases so its important to learn all you can about a heart attack.
                A heart attack, or myocardial infarction (MI), is permanent damage to the heart muscle. 
                "Myo" means muscle, "cardial" refers to the heart, and "infarction" means death of tissue due to lack of blood supply.
            </p>
            <p>
                A heart attack occurs when the blood flow to a part of the heart is blocked (often by a blood clot).This happens because coronary arteries that supply
                the heart with blood slowly become thicker and harder from a buildup of fat, cholesterol and other
                substances, called plaque.
            </p>
            <p>
                If the plaque breaks open and a blood clot forms that blocks the blood flow, a heart attack occurs. Then the
                heart muscle supplied by that artery begins to die.Damage increases the longer an artery stays blocked.
                Once that muscle dies, the result is permanent heart damage.
            </p>

            <h2>Causes</h2><p>A heart attack occurs when one or more of your coronary arteries become blocked. Over time, a coronary artery can narrow from the buildup of various substances, including cholesterol (atherosclerosis). This condition, known as coronary artery disease, causes most heart attacks.</p>
            <p>During a heart attack, one of these plaques can rupture and spill cholesterol and other substances into the bloodstream. A blood clot forms at the site of the rupture. If large enough, the clot can block the flow of blood through the coronary artery, starving the heart muscle of oxygen and nutrients (ischemia).</p>
            <p>You might have a complete blockage or partial. A complete blockage means you've had an ST elevation myocardial infarction (STEMI). A partial blockage means you've had a non-ST elevation myocardial infarction (NSTEMI). Diagnostic steps and treatment might be different depending on which you've had.</p>
            <p>Another cause of a heart attack is a spasm of a coronary artery that shuts down blood flow to part of the heart muscle. Using tobacco and illicit drugs, such as cocaine, can cause a life-threatening spasm.</p>
                    
                        
                        <h2>Risk factors</h2><p>Certain factors contribute to the unwanted buildup of fatty deposits (atherosclerosis) that narrows arteries throughout your body. You can improve or eliminate many of these risk factors to reduce your chances of having a first or another heart attack.</p>
            <p>Heart attack risk factors include:</p>
            <ul>
                <li><strong>Age.</strong> Men age 45 or older and women age 55 or older are more likely to have a heart attack than are younger men and women.</li>
                <li><strong>Tobacco.</strong> This includes smoking and long-term exposure to secondhand smoke.</li>
                <li><strong>High blood pressure.</strong> Over time, high blood pressure can damage arteries that feed your heart. High blood pressure that occurs with other conditions, such as obesity, high cholesterol or diabetes, increases your risk even more.</li>
                <li><strong>High blood cholesterol or triglyceride levels.</strong> A high level of low-density lipoprotein (LDL) cholesterol (the "bad" cholesterol) is most likely to narrow arteries. A high level of triglycerides, a type of blood fat related to your diet, also ups your risk of heart attack. However, a high level of high-density lipoprotein (HDL) cholesterol (the "good" cholesterol) lowers your risk of heart attack.</li>
                <li><strong>Obesity.</strong> Obesity is associated with high blood cholesterol levels, high triglyceride levels, high blood pressure and diabetes. Losing just 10 percent of your body weight can lower this risk, however.</li>
                <li><strong>Diabetes.</strong> Not producing enough of a hormone secreted by your pancreas (insulin) or not responding to insulin properly causes your body's blood sugar levels to rise, increasing your risk of heart attack.</li>
                <li><strong>Metabolic syndrome.</strong> This occurs when you have obesity, high blood pressure and high blood sugar. Having metabolic syndrome makes you twice as likely to develop heart disease than if you don't have it.</li>
                <li><strong>Family history of heart attack.</strong> If your siblings, parents or grandparents have had early heart attacks (by age 55 for male relatives and by age 65 for female relatives), you might be at increased risk.</li>
                <li><strong>Lack of physical activity.</strong> Being inactive contributes to high blood cholesterol levels and obesity. People who exercise regularly have better cardiovascular fitness, including lower high blood pressure.</li>
                <li><strong>Stress.</strong> You might respond to stress in ways that can increase your risk of a heart attack.</li>
                <li><strong>Illicit drug use.</strong> Using stimulant drugs, such as cocaine or amphetamines, can trigger a spasm of your coronary arteries that can cause a heart attack.</li>
                <li><strong>A history of preeclampsia.</strong> This condition causes high blood pressure during pregnancy and increases the lifetime risk of heart disease.</li>
                <li><strong>An autoimmune condition.</strong> Having a condition such as rheumatoid arthritis or lupus can increase your risk of heart attack.</li>
            </ul>
            
        </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, Bootstrap JS, then material design lite JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    </body>
<style>
body {
    background-color: #626269;
}

.col-lg-4 {
    color: #ffffff;
}
</style>

</html>