<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- material design lite-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Treatment</title>
</head>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="#" style="max-width: 30%;">
        <img src="static/images/heart.png" style="height:20%;display:inline-block;" width="50px" height="50px"><span>HeartHelper</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
<body>
    <div class="container-fluid">
            <br>
            <div class="card">
                <div class="card-body">
            <h2>Common heart attack treatments</h2>
<p>You&rsquo;ll find many common heart attack treatments listed here.</p>
<ul>
    <li><strong>Angioplasty:</strong> Special tubing with an attached deflated balloon is threaded up to the coronary arteries.</li>
    <li><strong>Angioplasty, Laser:</strong> Similar to angioplasty except that the catheter has a laser tip that opens the blocked artery.</li>
    <li><strong>Artificial heart valve surgery:</strong> Replaces an abnormal or diseased heart valve with a healthy one.</li>
    <li><strong>Atherectomy: </strong>Similar to angioplasty except that the catheter has a rotating shaver on its tip to cut away plaque from the artery.</li>
    <li><strong>Bypass surgery:</strong> Treats blocked heart arteries by creating new passages for blood to flow to your heart muscle.</li>
    <li><strong>Cardiomyoplasty: </strong>An experimental procedure in which skeletal muscles are taken from a patient&rsquo;s back or abdomen.</li>
    <li><strong>Heart transplant: </strong>Removes a diseased heart and replaces it with a donated healthy human heart.</li>
    <li><strong>Minimally invasive heart surgery:</strong> An alternative to standard bypass surgery.</li>
    <li><strong>Radiofrequency ablation:</strong> A catheter with an electrode at its tip is guided through the veins to the heart muscle to destroy carefully selected&nbsp;heart muscle cells in a very small area.</li>
    <li><strong>Stent procedure:</strong> A stent is a wire mesh tube used to prop open an artery during angioplasty.</li>
    <li><strong>Transmyocardial revascularization (TMR):</strong> A laser is used to drill a series of holes from the outside of the heart into the heart&rsquo;s pumping chamber.</li>
</ul>
<p><strong></strong></p>
<h2>Types of medications</h2>
<p>Heart attack treatment involves a variety of drugs. The list below provides a quick overview of the common types.</p>
<p>Your doctor will recommend the best combination of heart attack medications for your situation.</p>
<ul>
    <li><strong>Anticoagulant: </strong>Used to treat certain blood vessel, heart and lung conditions.</li>
    <li><strong>Antiplatelet agent:</strong> Keeps blood clots from forming by preventing blood platelets from sticking together.</li>
    <li><strong>Angiotensin-converting enzyme (ACE) inhibitor: </strong>Expands blood vessels and decreases resistance by lowering levels of angiotensin II. Allows blood to flow more easily and makes the heart&rsquo;s work easier or more efficient.</li>
    <li><strong>Angiotensin II receptor blocker:</strong> Rather than lowering levels of angiotensin II (as ACE inhibitors do) angiotensin II receptor blockers prevent this chemical from having any effects on the heart and blood vessels. This keeps blood pressure from rising.</li>
    <li><strong>Angiotensin receptor neprilysin inhibitor: </strong>Neprilysin is an enzyme that breaks down natural substances in the body that open narrowed arteries. By inhibiting neprilysin, those natural substances can have their normal effect. That improves artery opening and blood flow, reduces sodium (salt) retention and decreases strain on the heart.</li>
    <li><strong>Beta blocker: </strong>Decreases the heart rate and cardiac output, which lowers blood pressure and makes the heart beat more slowly, with less force.</li>
    <li><strong>Combined alpha and beta blocker: </strong>Combined alpha and beta blockers are used as an IV drip for those patients experiencing a hypertensive crisis. They may be prescribed for outpatient high blood pressure use if the patient is at risk for heart failure.</li>
    <li><strong>Calcium channel blocker: </strong>Interrupts the movement of calcium into the cells of the heart and blood vessels. May decrease the heart&rsquo;s pumping strength and relax the blood vessels.</li>
    <li><strong>Cholesterol-lowering medications: </strong>Various medications can lower blood cholesterol levels, but statins are the best first course of action. When statins prove ineffective, or if a patient experiences serious side effects from statin therapy, other drugs may be recommended.</li>
    <li><strong>Digitalis preparation:</strong> Increases the force of the heart&rsquo;s contractions, which can be beneficial in heart failure and for irregular heartbeats.</li>
    <li><strong>Diuretics:</strong> Cause the body to rid itself of excess fluids and sodium through urination. Help to relieve the heart&rsquo;s workload. Diuretics also decrease the buildup of fluid in the lungs and other parts of the body, such as the ankles and legs. Different diuretics remove fluid at varied rates and through different methods.</li>
    <li><strong>Vasodilator: </strong>Relaxes blood vessels and increases the supply of blood and oxygen to the heart while reducing its workload. Available as pills to be swallowed, chewable tablets and as a topical application (cream).</li>
</ul>
<h2>Dual Antiplatelet Therapy (DAPT)</h2>
<p>Patients who have had heart attacks, patients who are treated with stents in their coronary arteries, and some patients who undergo coronary artery bypass graft surgery (CABG) are treated at the same time with two types of antiplatelet agents to prevent blood clotting. This is called dual antiplatelet therapy (DAPT).</p>
<p>One antiplatelet agent is aspirin. Almost everyone with coronary artery disease, including those who have had a heart attack, stent, or CABG are treated with aspirin for the rest of their lives. A second type of antiplatelet agent, called a P2Y<sub>12</sub> inhibitor, is usually prescribed for months or years in addition to the aspirin therapy.</p>
<p>The type of medication and the duration of your treatment will vary based on a discussion with your healthcare provider weighing the risks of potential bleeding complications.</p>
<p>If you had a heart attack and a coronary artery stent placed, or you are being medically managed for your heart attack (specifically non-ST elevation myocardial infarction (<a href="/en/health-topics/heart-attack/diagnosing-a-heart-attack">NSTEMI</a>), you should <strong>also</strong> be on a P2Y<sub>12</sub> inhibitor for approximately 6-12 months.
&nbsp;In some cases, it may be advisable to be on DAPT for a longer duration.&nbsp; 
This will need to be discussed with your healthcare provider.&nbsp;There are three P2Y<sub>12</sub>
 inhibitors that doctors prescribe, which are clopidogrel, prasugrel, and ticagrelor.&nbsp; Studies have shown that two of these drugs (ticagrelor, prasugrel) are &ldquo;stronger&rdquo; than clopidogrel, and are a little better at decreasing the complications of blood clots. These two stronger agents, however, slightly increase bleeding. One of these drugs (prasugrel) should not be used by patients who have had a stroke or a transient ischemic attack (TIA). Which one these medications your doctor prescribes will be based on what he or she feels is best for you, based on your risk of blood clots and bleeding.
 &nbsp;For example,&nbsp;according to the <a href="https://www.fda.gov/drugs/drugsafety/ucm471286.htm">FDA</a>, clopidogrel does decrease the risk of stroke and MI, but does not change the risk of death for specific patients. Ultimately, the type of medication and duration of treatment will be determined in conjunction with your healthcare provider.</p>


  </div>
  </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, Bootstrap JS, then material design lite JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
  
</body>
<style>
body {
    background-color: #626269;
}

.col-lg-4 {
    color: #ffffff;
}
</style>

</html>